:root {
    --columns: 1; 
}

.Results {
    column-count: var(--columns);
    column-width: 200px;
    padding: 20px;
    min-height: 100vh;
}

.Gif {
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;
    box-sizing: border-box;
}

@media (min-width:540px) {
    :root {
        --columns: 2; 
    }
}

@media (min-width:840px) {
    :root {
        --columns: 3; 
    }
}

@media (min-width:1040px) {
    :root {
        --columns: 4; 
    }
}